# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env

# Pants
.pants.d/
.pants.debug.log
dist/
.local_cache/
/.cache/
/pants-logs/

# Editors
.vscode/
.idea/

# OS
.DS_Store

# Coverage and test
htmlcov/
.coverage*
.pytest_cache/

# Docker
*.tar
*.img
